<%- include("partials/header") %>

<div class="container">
	<style>
		img{
			max-height: 1250px;
    		max-width: 250px;
			}
		.img-thumbnail{
			margin-top: 20px;
		}
	</style>

<header class="jumbotron">
	<div class="container">
			
	<h1>
	Welcome to the Yelp Camp
	</h1>	
	<p>
		View our hand picked campgrounds from all over the world
	</p>
	<p>
		<a class="btn btn-primary btn-lg" href="/campgrounds/new"> Add a New Campgrounds </a>
	</p>
	</div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	<% campgrounds.forEach(function(campground){ %>
	<div class= "col-md-3 col-sm-6">
		
		
		<div  class="img-thumbnail" >
			<img src="<%= campground.image %>">
			
			<div class="caption">
			
			<%= campground.name%>
	
			</div>
			<p>
				<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary" >More Info</a>
			</p>
		</div>
		
		
			
	</div>
	
<% }); %>
	</div>

</div>

<%- include ("partials/footer") %>